{% extends 'base.twig' %}
{% block body %}
    <div class="ps-2 pt-2 pe-2">
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 d-flex">
                <div class="d-inline-block me-2">
                    <img class="avatar pe-0 mb-2" src="{{ asset('build' ~ user.avatarPath) }}" alt="" />
                </div>
                <div class="d-inline-block">
                    <h2>{{ user.userIdentifier }}</h2>
                </div>
            </div>
            <div class="col-lg-10 col-sm-6 col-6">
                <div class="float-end me-1">
                    {% if app.user() != user %}
                        <a href="{{ path('message_new', { 'username': user.userIdentifier }) }}" class="me-3">
                            <img src="{{ asset('build/images/send.png') }}" alt="" style="height: 2rem; width: auto;" />
                        </a>
                    {% endif %}
                    {% if is_granted('ban', user) and not user.isAdmin %}
                        {% set action = user.banned ? 'unban' : 'ban' %}
                        <ban-user-button url="{{ action == 'ban' ? actions.user.ban : actions.user.unban }}" action="{{ action }}">
                        </ban-user-button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 fw-bolder">status:</div>
            <div class="col-lg-10 col-sm-6 col-6">
                {% if user.banned %}
                    banned user
                {% else %}
                    active user {{ user.canSubmitStories ? '' : 'with story submissions disabled' }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 fw-bolder">karma:</div>
            <div class="col-lg-10 col-sm-6 col-6">
                {{ user.karma }}, averaging {{ user.averageKarma }} per story/comment
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 fw-bolder">stories submitted:</div>
            <div class="col-lg-10 col-sm-6 col-6">
                {% if user.approvedStoriesCount > 0 %}
                    <a href="{{ path('story_get_by_user', { 'username': user.userIdentifier }) }}">
                        {{ user.approvedStoriesCount -}}
                    </a>
                    {%- if mostCommonStoryTag %}
                        {{- ', most commonly tagged' }}
                        <a href="{{ path('story_get_by_tag', { name: mostCommonStoryTag.name}) }}">
                            <span class="badge rounded-pill bg-dark">
                                {{ mostCommonStoryTag.name }}
                            </span>
                        </a>
                    {% endif %}
                {% else %}
                   0
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 fw-bolder">comments posted:</div>
            <div class="col-lg-10 col-sm-6 col-6">
                {% if user.comments|length > 0 %}
                    <a href="{{ path('comment_get_by_user', { 'username': user.userIdentifier }) }}">
                        {{ user.comments|length }}
                    </a>
                {% else %}
                    {{ user.comments|length }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-6 fw-bolder">joined:</div>
            <div class="col-lg-10 col-sm-6 col-6">{{ user.createdAt|time_ago }}</div>
        </div>
    </div>
{% endblock %}
