{% extends 'base.twig' %}
{% block body %}
    <div class="inner-container text-center">
        <div class="form-wrapper">
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.username) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second) }}
            </div>
            <button class="w-100 btn btn-lg btn-dark mb-3" type="submit">
                create an account
            </button>
            {{ form_end(form) }}
            <p>
                already have an account?
                <a href="{{ path('login') }}" style="color: #303030;">
                    <b>log in</b>
                </a>
            </p>
        </div>
    </div>
{% endblock %}
